*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body{
  font-family: 'Inter', sans-serif;
  font-weight: 400;
}

ul{
  list-style-type: none;
}

.header{
  display: flex;
  flex-direction: column;
  padding: 80px 400px 150px 350px;
}

.product-top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-logo{
  display: flex;
  align-items: center;
  padding: 10px;
  border: 3px solid #345BE5;
  border-radius: 10px;
  box-shadow: 0px 20px 69px rgba(0, 0, 0, 0.25);
}

.product-card__btn{
  display: flex;
  align-items: center;
  padding: 10px;
  border: 3px solid #345BE5;
  border-radius: 10px;
  box-shadow: 0px 20px 69px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}

.product-logo__img{
  background-color: transparent;
  margin-right: 15px;
}

.product-card__img{
  background-color: white;
  margin-right: 15px;
}

.product-logo__title{
  color: #345BE5;
}

.product-card__title{
  color: #345BE5;
}

.product-sort{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
}

.product-sort__select{
  padding: 10px 80px 10px 20px;
  font-size: 28px;
  border: 3px solid #345BE5;
  border-radius: 15px;
  box-shadow: 0px 20px 69px rgba(0, 0, 0, 0.25);
}

.sort-input{
  width: 120px;
  height: 60px;
  border: 3px solid #345BE5;
  border-radius: 15px;
  box-shadow: 0px 20px 69px rgba(0, 0, 0, 0.25);
  padding: 15px;
  font-size: 22px;
}

.sort-label{
  font-size: 28px;
  color: #345BE5;
  font-weight: bold;
}

.product-search{
  margin-top: 40px;
}

.product-search__input{
  font-size: 28px;
  width: 100%;
  padding: 10px;
  border: 3px solid #345BE5;
  border-radius: 15px;
  box-shadow: 0px 20px 69px rgba(0, 0, 0, 0.25);
}

.products-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 0 350px 200px;
}


.products-item{
  width: 240px;
  height: 350px;
  padding: 35px;
  border: 3px solid #345BE5;
  border-radius: 15px;
  box-shadow: 0px 20px 69px rgba(0, 0, 0, 0.25);
  text-align: center;
  margin-bottom: 40px;
  margin-right: 63px;
}

.products-img{
  width: 145px;
  height: 155px;
  border-radius: 20px;
  margin-bottom: 15px;
}

.products-title{
  font-size: 22px;
  color: #345BE5;
  margin-bottom: 10px;
  text-transform: capitalize;
  font-family: 'BIZ UDMincho', serif;
}

.products-cost{
  font-size: 20px;
  color: #345BE5;
  margin-bottom: 30px;
  font-family: 'BIZ UDPMincho', serif;
  font-weight: bold;
}

.products-link{
  font-size: 22px;
  background-color: #345BE5;
  color: #fff;
  padding: 5px 15px;
  margin-bottom: 15px;
  border-radius: 15px;
}
